@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


/* main elements */
body {
    background-color: #ECB4F9;
    font-family: "Josefin Sans", Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}
h4 {
    color: #610652;
}
header {
    background-color: aquamarine;
    font-family: "Red Hat Display", Arial, Helvetica, sans-serif;
}
footer {
    background-color: aquamarine;
    color: #610652;
    font-size: 0.8em;
    padding: 25px 50px;
}
footer a {
    color: #E34FCB;
    text-decoration: none;
}
footer a:hover {
    color: #610652;
}
footer .social img {
    padding-top: 15px;
}
footer p {
    font-size: 0.8em;
}    
footer p a:hover {
    text-decoration: underline;
}    
main {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}


/* id elements */
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
#background {
    height: 725px;
    background-color: aquamarine;
    padding: 12px;
    border-style: solid;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: black;
    margin-bottom: 20px;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
#hero {
    background-color: rgb(33, 127, 170);
    border-style: solid;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: black;
    margin: 20px;
}
#hero-img {
    width: 100%;
}
#home-grid, h2 {
    color: #610652;
}

/* class elements */

.card-img {
    border: 10px solid black;
}

.first-card {
    padding: 25px;
}
.button-box {
    text-align: center;
    padding: 30px;
}
.home-title {
    color: #610652;
    font-family: "Red Hat Display", Arial, Helvetica, sans-serif;
    font-size: 2em;
}
.msg h2 {
    color: #610652;
}
.msg p {
    color: #610652;
    font-size: 0.8em;
    padding-bottom: 15px;
}
.logo {
    width: 260px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
.navbar {
    background-color: black;
}
.navbar a {
    text-align: center;
    color: #E34FCB;
    text-decoration: none;
    margin: 0 30px;
    font-size: 0.8em;
    padding: 4px;
}
.navbar a:hover {
    background-color: #5CFFDE;
    color: black;
}

.book, .join {
    background-color: #ECB4F9;
    color: #610652;
    text-decoration: none;
    font-size: 18px;
    border-style: solid;
    border-width: 1.5px;
    border-color: black;
    padding: 15px 30px;
}
.book:hover, .join:hover {
    color: #610652;
    background-color: #E34FCB;
}
.msg {
    background-color: #ECB4F9;
    line-height: 1.5em;
    padding: 35px;
}