#content {
    max-width: 1600px;
    margin: 0 auto;
}

body {
    background-color: #ECB4F9;
}

header {
    background-color: aquamarine;
}

.navbar {
    background-color: black;
}
.navbar a {
    text-align: center;
    color: #E34FCB;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #5CFFDE;
    color: black;
}


#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main {
    text-align: center;
}
#background {
    height: 725px;
    background-color: aquamarine;
}
.book, .join {
    background-color: #ECB4F9;
    color: #610652;
    text-decoration: none;
}
.book:hover, .join:hover {
    color: #610652;
    background-color: #E34FCB;
}
.msg {
    background-color: #ECB4F9;
}
footer {
    background-color: aquamarine;
    color: #610652;
}
footer a {
    color: #E34FCB;
    text-decoration: none;
}
footer a:hover {
    color: #610652;
}
.home-title {
    color: #610652;
}
h4 {
    color: #610652;
}
.msg h2 {
    color: #610652;
}
.msg p {
    color: #610652;
}
.logo {
    width: 260px;
}
.icon {
    width: 80px;
}
#hero-img {
    width: 100%;
}
#home-grid, h2 {
    color: #610652;
}
footer p {
    font-size: 1.2em;
}    
footer p a:hover {
    text-decoration: underline;
}    